# Project Title: UNHCR-WASH-Indicators-Analysis-in-Refugee-Camps

## Project Description
This project presents a global analysis of Water, Sanitation, and Hygiene (WASH) service indicators in refugee camps using open data provided by the United Nations High Commissioner for Refugees (UNHCR). The analysis includes refugee camps from multiple countries, highlighting, for example, but not limited to, trends in access to potable water, sanitation facilities, and hygiene services.

### Abbreviations

UNHCR – United Nations High Commissioner for Refugees

WASH – Water, Sanitation, and Hygiene

M&E – Monitoring and Evaluation

KPI – Key Performance Indicator

IDP - Internally Displaced Person

NGO - Non Governmental Organistaion

#### Needs Assessment & Planning 
KPI & Project Success Metrics

#### Data Collection & Understanding

Importations & Installation

In [2]:
import pandas as pd
import numpy as np

In [6]:


# Raw GitHub CSV URL
url = "https://raw.githubusercontent.com/openwashdata/unhcrwash/main/inst/extdata/unhcrwash.csv"

# Load CSV directly into a DataFrame
df = pd.read_csv(url)

# Preview the first few rows
df.head()

,form_id,start_date,end_date,location_id,location_name,country,post_emergency,persons_per_handpump,persons_per_tap,liters_per_person_per_day,...,reporting_monthly,liters_per_person_household,potable_water_storage_10l,protected_water_sources,menstrual_hygiene_satisfaction,household_toilet,defecate_in_toilet,access_to_soap,solid_waste_disposal_access,reporting_annual
0,54418187.0,2024-01-01,2024-12-31,518.0,Dagahaley,Kenya,NaN,NaN,NaN,NaN,...,NaN,18.2,99.0,98.0,64.0,42.0,83.0,87.0,96.0,2024-05-17
1,54418188.0,2024-01-01,2024-12-31,519.0,Hagadera,Kenya,NaN,NaN,NaN,NaN,...,NaN,13.4,98.0,97.0,72.0,39.0,91.0,75.0,99.0,2024-05-17
2,54418189.0,2024-01-01,2024-12-31,520.0,Ifo,Kenya,NaN,NaN,NaN,NaN,...,NaN,15.0,99.0,87.0,63.0,43.0,89.0,69.0,95.0,2024-05-17
3,54418190.0,2024-01-01,2024-12-31,5105.0,Ifo 2,Kenya,NaN,NaN,NaN,NaN,...,NaN,12.9,100.0,100.0,100.0,22.0,49.0,13.0,98.0,2024-05-17
4,54414021.0,2024-12-02,2024-12-29,541.0,Buramino,Ethiopia,Post-emergency,NaN,NaN,9.0,...,20058.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# Check shape
df.shape

(6425, 27)

In [12]:
df['country'].unique()

array(['Kenya', 'Ethiopia', 'Angola', 'Iraq', 'Malawi', 'Niger', 'Rwanda',
       'Sudan', 'Tanzania', 'Chad', 'Zimbabwe', 'Bangladesh',
       'Mozambique', 'South Sudan', 'Uganda', 'Djibouti', 'Nigeria',
       'Cameroon', 'Algeria', 'Ghana', 'Democratic Republic of the Congo',
       'Zambia', 'Burundi', 'Pakistan', 'Republic of Congo', 'Brazil',
       'Burkina Faso', 'Colombia', 'Namibia', 'Eritrea', 'India',
       'Jordan', 'Nepal', 'Somalia', 'Yemen', nan], dtype=object)

In [14]:
# Group by country and list unique camps
countries_camps = df.groupby('country')['location_name'].unique()

# Display the result
print(countries_camps)

country
Algeria                                   [Auserd, Boujdour, Dakhla, Layounne, Smara]
Angola                                                             [Lovua settlement]
Bangladesh                          [Camp 17, Camp 1E, Camp 21, Camp 26, Camp 27, ...
Brazil                              [EE 13 de Setembro, Jardim Floresta, Nova Cana...
Burkina Faso                                                        [Goudebo, Mentao]
Burundi                                         [Gasorgwe, Kavumu, Musasa, Bwagiriza]
Cameroon                            [Borgop, Gado, Lolo, Mbile, Minawao, Ngam, Nga...
Chad                                [Bredjing, Treguine, Amnabak, Gaga, Iridimi, K...
Colombia                                                                     [Maicao]
Democratic Republic of the Congo    [Boyabu, Inke, Modale, Mole, Wenze, Lusenda, M...
Djibouti                                                        [Ali Adde, Holl Holl]
Eritrea                                                                      [Asmara]
Ethiopia                            [Buramino, Bambasi, Sherkole, Tsore Camp (Asso...
Ghana                                           [Ampain, Egyeikrom, Fetentaa, Krisan]
India                                                                         [Delhi]
Iraq                                   [Arbat, Basirma, Kawergosk, Qushtapa, Gawilan]
Jordan                                                               [Za'atri, Azraq]
Kenya                                               [Dagahaley, Hagadera, Ifo, Ifo 2]
Malawi                                                                      [Dzaleka]
Mozambique                                                                 [Maratane]
Namibia                                                                       [Osire]
Nepal                                                                      [Beldangi]
Niger                               [Centre humanitaire Agadez, Chadakori, Dandaji...
Nigeria                                           [Adagam 3, Adagom, Ikyogen, Ukende]
Pakistan                                                             [Muhammad Khail]
Republic of Congo                                                    [Betou, Gamboma]
Rwanda                              [Kigeme, Kiziba, Mahama, Mugombwa, Nyabiheke, ...
Somalia                                                                  [North West]
South Sudan                         [Ajoung Thok, Pamir, Doro, Gendrassa, Kaya, Yu...
Sudan                               [Al Jameya, Al Kashafa, Al Redis 1, Al Redis 2...
Tanzania                            [Nyarugusu, Nyarugusu Burundian, Nyarugusu Con...
Uganda                              [Adjumani, Imvepi, Kiryandongo, Kyaka II, Kyan...
Yemen                                                                        [Shabwa]
Zambia                                        [Mayukwayukwa, Mantapala, Kala, Meheba]
Zimbabwe                                                                  [Tongogara]
Name: location_name, dtype: object

In [15]:
# Group by country and get unique camps
countries_camps = df.groupby('country')['location_name'].unique()

# Count the number of camps per country
num_camps_per_country = countries_camps.apply(len)

# Display result
print(num_camps_per_country)

country
Algeria                              5
Angola                               1
Bangladesh                          13
Brazil                              10
Burkina Faso                         2
Burundi                              4
Cameroon                             8
Chad                                32
Colombia                             1
Democratic Republic of the Congo    12
Djibouti                             2
Eritrea                              1
Ethiopia                            27
Ghana                                4
India                                1
Iraq                                 5
Jordan                               2
Kenya                                4
Malawi                               1
Mozambique                           1
Namibia                              1
Nepal                                1
Niger                                9
Nigeria                              4
Pakistan                             1
Republic of Congo                    2
Rwanda                              10
Somalia                              1
South Sudan                          7
Sudan                               33
Tanzania                             5
Uganda                              10
Yemen                                1
Zambia                               4
Zimbabwe                             1
Name: location_name, dtype: int64

#### Data Cleaning & Organization (Data Preparation)

#### Monitoring / KPI Analysis

#### Evaluation / Impact Assessment

#### Reporting & Dashboards